<!DOCTYPE html>
<html>
<head>
    <title>Create Subject</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='design.css') }}">
</head>
<body>
    <h1>Create Subject</h1>
    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <form method="post">
        Subject name: <input name="name" required><br>
        Number of tests: <input type="number" id="num_tests" min="1" required><br>
        <div id="weights"></div>
        <a href="/">← Back to Subjects</a> <!-- go back a page -->
        <button type="submit">Create</button>
        
    </form>
    <script>
        document.getElementById("num_tests").addEventListener("change", function () {
            let n = this.value;
            let html = "";
            for (let i = 0; i < n; i++) {
                html += `Test ${i+1} weight (%): <input name="weights[]" type="number" step="0.1" min="0" max="100" required><br>`;
            }
            document.getElementById("weights").innerHTML = html;
        });
    </script>
</body>
</html>