<!DOCTYPE html>
<html>
<head>
    <title>Update Test Score</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='design.css') }}">
</head>
<body>
    <h1>Update test score for {{ name }}</h1>
    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <form method="post">
        <label>Test:
            <select name="test_id">
                {% for test in subject.tests %}
                <option value="{{ test.id }}" {% if test.id == selected_test_id %}selected{% endif %}>
                    Test {{ loop.index }}
                </option>
                {% endfor %}
            </select>
            
        </label><br>
        <label>Mark (%): <input type="number" name="mark" step="0.1" min="0" max="100" required></label><br>
        <button type="submit">Update</button>
    </form>
    <hr>

    <a href="javascript:history.back()">← Back to Tests</a>
</body>
</html>
